<% content_for :title, "Posts" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <% if @posts.any? %>
    <div class="overflow-x-auto">
      <table id="posts" class="table">
        <thead>
          <tr>
            <td>ID / Edit</td>
            <td>Title / Show</td>
            <td>Published</td>
            <td>Last Update</td>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.id, edit_post_path(post) %></td>
              <td><%= link_to post.title, post %></td>
              <td>
                <% if post.status == "draft" -%>
                  <%= post.status %>
                <% else -%>
                  <%= post.published_at %>
                <% end %>
              </td>
              <td><%= post.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="text-center my-10">No posts found.</p>
  <% end %>
</div>
